{%- extends "base.html" %}

{% block content %}

<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}

    <img id="image" src="{{ form.image.data }}" class="img-fluid img-thumbnail mx-auto d-block mb-2" alt="Responsive image">

    <p id="repetition" class="lead" style="white-space: pre-line;">{{ status }}</p>
    <p id="test" class="lead"></p>

    <p class="text-justify text-info">Position your right hand as shown. When your hand is in position, you can start
        the test by clicking on the
        'start' button or pressing any key on the keyboard to start the data collection. When the test starts an overlay
        will show up, once the overlay disappears the test is complete. During the test it is important you keep
        your hand as still as possible. If you want to redo a previous test, click the 'previous' button. If you do
        not wish to continue with more tests, you can click the 'end' button.</p>

    <p class="lead">
        <button type="button" class="btn btn-warning btn-lg mr-4" role="button" onclick="prev()">Previous</a>
        <button type="button" class="btn btn-danger btn-lg" role="button" onclick="end()">End</button>
        <button type="button" class="btn btn-primary btn-lg float-right" role="button" onclick="start()">Start</button>
    </p>
</form>

{%- endblock %}

{% block scripts %}
{{ super() }}
<script type=text/javascript> 
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

document.addEventListener('keydown', function(event) {
    if(event.keyCode == 33) {
        event.preventDefault();
        prev();
    }
    else if(event.keyCode == 34) {
        event.preventDefault();
        start();
    }
    else if(event.keyCode == 190) {
        event.preventDefault();
        end();
    }
});

function start() {
    clearFlash();
    blockui('collecting data...');
    gesture = {{ gesture|tojson|safe }};
    $.getJSON($SCRIPT_ROOT + `/collect/calibration/${gesture}`, function(data) {
    }).done((data) => {
        $('#data').val(JSON.stringify(data));
        $('form').submit();
    }).fail(() => {
        flash('Something went wrong, please try again...', 'danger');
    }).always(() => {
        unblockui();
    });    
}

function prev() {
    history.back();
}

function end() {
    var result = confirm('If you click "OK", the session will terminate and you won\'t be able to return, are you sure you want to stop?');

    if(result) {
        window.close();
    }
}

</script> 
{% endblock %}