{%- extends "base.html" %}

{% block content %}
<div class="container mt-5">
  

  <div id="plan">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <h1>Thank you!</h1>
        <p class="lead">With your data, we are one step closer to achieving the goal!</p>
        <a class="btn btn-primary btn-lg btn-block" onclick="window.close();">Close window</a>
      </div>

      <div class="col-lg-4 col-md-4 d-md-block d-none">
        <img src="{{ url_for('static', filename='img/super_thank_you.svg') }}" class="img-fluid align-top" alt="">
      </div>
    </div>
</div>
{%- endblock %}