{%- extends "base.html" %}


{% block content %}
<div class="container mt-5">

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-10 col-md-9">
        <h1>Want to help build better exoskeletons in the future?</h1>
        <p class="lead">We are a research group at Aalborg University attempting to break new ground in the field of gesture recognition, and we need your data to do so!</p>
        <button type="button" class="btn btn-primary btn-lg btn-block">Get started</button>
      </div>
      <div class="col-lg-2 col-md-3 d-sm-none d-md-block">
        <img src="{{ url_for('static', filename='img/aau.png') }}" class="d-inline-block align-top" alt="">
      </div>
    </div>
  </div>

  <div class="mt-5" id="plan">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1>We care about your privacy</h1>
        </div>
      </div>
    </div>


    <div class="row" style="text-align: justify">
      <div class="col-lg-4 col-md-6">
        <p class="lead">
          We will collect data such as your age, gender, fitness as well as
          record your arm / wrist while you do different gestures. That is to say, 
          we will not collect any personally identifiable information (PII) such as your name etc.
        </p>
      </div>
      <div class="col-lg-4 col-md-6">
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et ullamcorper enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed posuere, nulla eget vehicula aliquet, massa mi semper tortor, ullamcorper finibus orci massa nec odio. Sed hendrerit ipsum id leo faucibus, nec dapibus felis suscipit. Pellentesque dictum tortor in volutpat dapibus. In eros ligula, consectetur fringilla diam vel, vulputate aliquam est. In hac habitasse platea dictumst. In dignissim ipsum mi, a convallis massa ullamcorper ac.
        </p>
      </div>
      <div class="col-lg-4 col-md-6">
        <p class="lead">
          Etiam gravida justo massa, eget volutpat est porta id. Praesent iaculis blandit iaculis. Vestibulum eget ligula in nibh mollis placerat at luctus est. Sed vel convallis mauris. Quisque non aliquam felis. Cras ultrices quam quis nisi efficitur, a fermentum quam tristique. Aenean eros velit, fermentum et vulputate sed, fringilla porttitor metus. Nam commodo pulvinar egestas. Vivamus ut mauris viverra, malesuada erat eget, pellentesque nisi. Vivamus commodo pellentesque euismod. Sed varius accumsan sem sit amet molestie.
        </p>
      </div>
    </div>
</div>
{%- endblock %}