{%- extends "base.html" %}


{% block content %}
<div class="container mt-5">
  

  <div id="plan">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <h1>Want to help build better exoskeletons in the future?</h1>
        <p style="text-align: justify">
          We are a research group at Aalborg University attempting to break new ground in the field of gesture recognition, and we need your data to do so!
          We will collect data such as your age, gender, fitness as well as
          record your arm / wrist while you do different gestures. That is to say, 
          we will not collect any personally identifiable information (PII) such as your name etc.
        </p>
        <a class="btn btn-primary btn-lg btn-block" href="/form" target="_blank">Get started</a>
      </div>

      <div class="col-lg-4 col-md-4 d-md-block d-none">
        <img src="{{ url_for('static', filename='img/secure_data.svg') }}" class="img-fluid align-top" alt="">
      </div>
    </div>
</div>
{%- endblock %}